@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: 'Poppins', sans-serif;
}


.home-page-background{
  background-image: linear-gradient(90deg, #00179d 0, #306bec 100%);
}

.objective-card-background{
  background-image: linear-gradient(45deg, #008fbf 0, #00e5ff 100%);
}

.best-performance-bg{
  background-image: linear-gradient(0deg, #008fbf 0, #00e5ff 100%);
}

.worst-performance-bg{
  background-image: linear-gradient(0deg, #ff4e3b 0, #fd8b89 100%);
}